# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.output/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env/
.venv/
env.bak/
venv.bak/

# Cloudflare
.wrangler/
.dev.vars 
wrangler.toml
wrangler.dev.toml

# Crawler specific
*.html
*.ndjson
*chromedriver-mac-arm64
chromedriver
chromedriver.exe

# Ignore generated SQL files
hotbuys*.sql
savings*.sql